@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
:root {
  --main-bg-color: #2874f0;
}
* {
  padding: 0;
  margin: 0;
}
header {
  background: var(--main-bg-color);
  /* border: 2px solid red; */
  font-family: "Lato", sans-serif;
}
nav {
  display: flex;
}
.logo {
  display: flex;
  align-items: center;
  /* margin: 0px -72px 9px 270px; */
}
.logo img {
  width: 155px;
  padding: 0 24px;
}
nav ul {
  height: 58px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
nav ul li {
  list-style: none;
  padding: 0 23px;
}
nav ul li a {
  color: white;
  text-decoration: none;
}
nav ul li a:hover {
  /* color: violet; */
  font-weight: bolder;
}

.search {
  display: flex;
  align-items: center;
  /* width: 98px; */
}
.search input {
  width: 30vw;
  height: 25px;
  border-radius: 2px;
  margin: 0 16px 0 56px;
  padding: 0 12px;
}
.Search button {
  font-family: "Lato", sans-serif;
  font-weight: 900;
}
.Login {
  display: flex;
  align-items: center;
  margin: 22px 0px 20px 175px;
}

.btn2 {
  display: flex;
  align-items: center;
}
.text {
  font-family: "Lato", sans-serif;
  color: white;
  display: flex;
  align-items: center;
  margin: -1px -18px 1px 29px;
}
#i-chevron-bottom {
  color: white;
  width: 11px;
  display: flex;
  align-items: center;
  margin: 22px;
}

.slider img {
  width: 80vw;
  margin: 12px 158px;
  overflow: hidden;
}
.container {
  min-height: calc(100vh - 58px - 12vh);
}
.card {
  max-width: 90vw;
  margin: 37px;
  font-family: "Ubuntu", sans-serif;
}
.card-item {
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 15px;
}
.card h2 {
  font-family: "Ubuntu", sans-serif;
}
.cards {
  display: flex;
  /* justify-content: center; */
  overflow: hidden;
}

footer {
  height: 12vh;
  background-color: var(--main-bg-color);
  color: white;
  font-family: "Lato", sans-serif;
}
